/*Colors used*/

:root {
    --text-color: lightblue;
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --light-blue: #031424;
    --dark-green: rgb(132, 97, 16);
    --red: rgb(252, 6, 6);
    --light-grey: rgb(206, 202, 202);
    --orange-saturated: #f76414;
    --light-orange: #edc655;
    --lighest-orange: #fcffad;
    --normal-font-size: 1.04rem;
    --light-font-weight: 400;
    --heavy-font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: var(--light-font-weight);
    letter-spacing: .125rem;
    font-size: var(--normal-font-size);
    background-color: var(--light-blue);
    line-height: 1.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: var(--heavy-font-weight);
    color: lightblue;
}

h2 {
    color: #3c5172;
    font-size: 2rem;
    font-weight: var(--heavy-font-weight);
}

a {
    color: var(--primary-color);
    text-decoration: none;

}

/* a:visited {

    color: var(--dark-green);
} */

a:hover,
a:focus {
    margin-bottom: 1px solid white;
}

a:active {

    color: var(--red);
}

.intro-paragraph--sub{
    font-size: 20px;
    letter-spacing: 2px;
    color: #cf6766;
}

.intro-paragraph{
    font-size: 3rem;
    color: #3c5172;
    font-weight: 700;
}

.hollow-button{
border: 2px solid var(--text-color);
background-color: #031424;
padding: 10px 20px;
border-radius: 5px;
transition: background-color .2s ease-in-out;
margin-top: 50px;
display: block;
}

.hollow-button2, .hollow-button2.sub-btn{
    border: 2px solid lightblue;
    background-color: transparent;
    color: var(--primary-color);
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}


.hollow-button:hover{
background-color:#083661c4;
}
.hollow-button2:hover{
background-color:#083661c4;
}

.button-secondary {
    background: linear-gradient(to bottom right, var(--secondary-color), #b49044);
    color: var(--text-color);
}
.two-col-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 5rem auto .5rem auto;
    grid-gap: 20px;
    max-width: 1000px;
}


.a-title{
   grid-column: 1 /span 2;
   color: lightblue;
   border-bottom: 1px solid lightblue;
   padding-bottom: 15px;
   display: inline-block;
   width: 100%;
}

.profile__portrait {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 5px;
    transition: all 0.125s ease-in-out;
}

.profile__portrait:hover {
    scale: 1.025;
    box-shadow: 3px 3px 4px rgba(255,255,255,.3);
}

.page__footer {
    clear: both;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile {
    max-width: 1000px;
    margin: 0 auto;
}

.social-media {
    text-align: center;
}

.page-header {
    width: 100%;
    padding: 20px;
    display: flex;
}

.page-header__item {
    flex: 0 1 200px;
    height: 70px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin-top: 3rem;
}

.grid__item {
    position: relative;
    background-color: #041b30;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.proj-card {
    color: #ebbcbb;
    font-size: .8rem;
}
.proj-card h2 {
    color: lightblue;
}
.grid__item::before{
    content: '';
    position: absolute;
    background: rgb(2,0,36);
    background: linear-gradient(128deg, rgba(2,0,36,.5) 0%, #910a7480 55%, rgba(38,149,207,.5) 97%, rgba(0,212,255,.4) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.grid__item::after{
    content: '';
    height: 2px;
    background-color: white;
    left: 10px;
    right: 10px;
    position: absolute;
    bottom: 10px;
    animation: 5s comeNGo alternate infinite ease-in-out;
}
@keyframes comeNGo {
    0% {
        width: 94%;
        opacity: 1;
    }
    25%{
        width: 75%;
        opacity: .75;
    }
    50%{
        width: 50%;
        opacity: .5;
    }
    75%{
        width: 25%;
        opacity: .25;
    }
    100%{
        width: 0%;
        opacity: 0;
    }
}




@media all and (max-width: 500px) {

    .two-col-grid {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
    .container{
        padding: 20px;
    }
    .grid {
        grid-template-columns: auto;
        padding: 20px;
    }

    #contactForm {
        width: auto;
    }

    .button {
        display: block;
        margin: 10px auto;
        width: 250px;
        text-align: center;
    }

    .hollow-button,.hollow-button2{
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
    .intro-paragraph {
        font-size: 1.9rem;
        line-height: 2rem;
        margin: 0;
    }
    .intro-paragraph--sub{
        font-size: .8rem;
    }
    .home-page-title {
        display: inline-block;
        font-size: 2.5rem;
        padding: 3px
    }
    .cta {
        font-weight: 600;
        color: #214c46;
    }


    h1,h2{
        text-align: left;
        line-height: 2.5rem;
    }
    .a-title{
        order: -2;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .grit-it{
        display: block;
        text-align: center;
    }
    .grid-it.pic{
        display: block;
        text-align: center;
        order: -1;
    }
    .profile {
        padding: 0 20px;
    }

    p,li,th,td {
        font-size: .9rem;
    }
    .page-header__item{
        height: 50px;
        flex: 0 0 50px;
    }

}

@media all and (min-width: 501px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }


}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 20px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }



    @keyframes color-change {
        0% {
            fill: var(--light-orange);
        }

        50% {
            fill: var(--lighest-orange);
        }

        100% {
            fill: var(--orange-saturated);
        }
    }

    .sun {
        animation:
            /*duration*/
            4s
            /*name*/
            color-change
            /*iteration-count*/
            infinite
            /*direction*/
            alternate
            /*timing-function*/
            linear;

    }

    @keyframes cloud-move {
        from {
            transform: translate(0, 50px);
        }

        to {
            transform: translate(200px, 50px);
        }
    }

    .cloud-front {
        animation: 30s cloud-move infinite alternate linear;
    }

    @keyframes cloud-move-reverse {
        from {
            transform: translate(446px, 48px);
        }

        to {
            transform: translate(100px, 48px);
        }
    }

    .cloud-back {
        animation: 30s cloud-move-reverse infinite alternate linear;
    }
}

.container {
    max-width: 1000px;
    margin: 3rem auto;
}

.table {
    border-spacing: 10px;
    text-align: left;
    border-radius: 5px;
}

form {
    width: 700px;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.form-button {
    margin-top: 25px;
    padding: 10px 3rem;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom right, var(--primary-color), #214c46);
    color: white;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: opacity .2s;
}

.form-button:hover {
    opacity: .8;
}

ul {
    padding-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
}
